.rb_inp_wrap.new_bbs_border_wrap {border:1px solid #eee; padding: 20px; border-radius: 10px; text-align: left;}
.point_add {text-align: left;padding: 20px;padding-top: 0px;padding-bottom: 0px;}
.rb_inp_wrap label.helps {display: block; font-size: 13px; margin-bottom: 10px; color:#888; line-height: 140%; word-break: keep-all;}
.bbs_sub_titles {font-size: 16px;}
.container_titles {display: block; margin-top: 40px !important; margin-bottom: 15px; color:#888;}
.point_add {text-align: left; padding: 20px; padding-top: 0px; padding-bottom: 0px;}
.radio_gap {display: flex; gap:10px; align-items: center; flex-wrap: wrap;}
.pay_bkis {
    border: 2px dashed #eee;
    border-radius: 10px;
    display: block;
    padding: 20px 20px 20px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    word-break: keep-all;
}
#point .btn_close {margin-top: 0px; margin-bottom: 0px;}
#point .reply_btn {font-size: 14px;}