@charset "utf-8";
/* font- R, B, H */

html {
    height:100%; font-size:14px; font-family:'font-R',sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin:0; padding:0; font-size:14px; height:100%; font-family:'font-R',sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
html, fieldset, img {margin:0;padding:0;border:0;}
h1, h2, h3, h4, h5, h6 {margin:0;padding:0;border:0; font-family:'font-B',sans-serif;}
label, input, button, select, img {vertical-align:middle; font-family:'font-R',sans-serif;}

::selection {background-color: #25282B; color: #fff;}

button {cursor:pointer; font-family:'font-R',sans-serif; padding: 0px; margin: 0px; background-color: transparent; border:0px;}
textarea, select {font-size:14px; font-family:'font-R',sans-serif;}
a {color:#000;text-decoration:none; font-family:'font-R',sans-serif;}
ul,li,dl,dt,dd{padding:0;margin:0;list-style:none;}
b,strong{font-family:'font-B',sans-serif;}

input:focus {outline: none !important;}
textarea:focus {outline: none !important;}
button:focus {outline: none !important;}


.font-R {font-family:'font-R',sans-serif !important;}
.font-B {font-family:'font-B',sans-serif !important;}
.font-H {font-family:'font-H',sans-serif !important;}

.font-8 {font-size:8px !important;}
.font-9 {font-size:9px !important;}
.font-10 {font-size:10px !important;}
.font-11 {font-size:11px !important;}
.font-12 {font-size:12px !important;}
.font-14 {font-size:14px !important;}
.font-15 {font-size:15px !important;}
.font-16 {font-size:16px !important;}
.font-17 {font-size:17px !important;}
.font-18 {font-size:18px !important;}
.font-19 {font-size:19px !important;}
.font-20 {font-size:20px !important;}
.font-22 {font-size:22px !important;}
.font-24 {font-size:24px !important;}
.font-26 {font-size:26px !important;}
.font-28 {font-size:28px !important;}
.font-30 {font-size:30px !important;}
.font-36 {font-size:36px !important;}
.font-40 {font-size:40px !important;}
.font-45 {font-size:45px !important;}
.font-50 {font-size:50px !important;}

.bold {font-family:'font-B',sans-serif !important;}
.cb {clear:both;}
.fl {float:left;}
.fr {float:right;}
.dn {display:none;}

.color-fff {color:#fff !important;}
.color-ddd {color:#ddd !important;}
.color-eee {color:#eee !important;}
.color-000 {color:#000 !important;}
.color-999 {color:#999 !important;}
.color-888 {color:#888 !important;}
.color-777 {color:#777 !important;}
.color-666 {color:#666 !important;}
.color-555 {color:#555 !important;}
.color-444 {color:#444 !important;}
.color-333 {color:#333 !important;}
.color-222 {color:#222 !important;}
.color-111 {color:#111 !important;}

.h1 {height:1px !important;}
.h2 {height:2px !important;}
.h3 {height:3px !important;}
.h4 {height:4px !important;}
.h5 {height:5px !important;}
.h6 {height:6px !important;}
.h7 {height:7px !important;}
.h8 {height:8px !important;}
.h9 {height:9px !important;}
.h10 {height:10px !important;}
.h15 {height:15px !important;}
.h20 {height:20px !important;}
.h30 {height:30px !important;}
.h40 {height:40px !important;}
.h50 {height:50px !important;}
.h60 {height:60px !important;}
.h70 {height:70px !important;}
.h80 {height:80px !important;}
.h90 {height:90px !important;}
.h100 {height:100px !important;}

.mt-3 {margin-top: 3px !important;}
.mt-5 {margin-top: 5px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-15 {margin-top: 15px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-25 {margin-top: 25px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-35 {margin-top: 35px !important;}
.mt-40 {margin-top: 40px !important;}
.mt-45 {margin-top: 45px !important;}
.mt-50 {margin-top: 50px !important;}

.mb-3 {margin-bottom: 3px !important;}
.mb-5 {margin-bottom: 5px !important}
.mb-10 {margin-bottom: 10px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-35 {margin-bottom: 35px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-45 {margin-bottom: 45px !important;}
.mb-50 {margin-bottom: 50px !important;}

.pt-3 {padding-top: 3px !important;}
.pt-5 {padding-top: 5px !important;}
.pt-10 {padding-top: 10px !important;}
.pt-15 {padding-top: 15px !important;}
.pt-20 {padding-top: 20px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-30 {padding-top: 30px !important;}
.pt-35 {padding-top: 35px !important;}
.pt-40 {padding-top: 40px !important;}
.pt-45 {padding-top: 45px !important;}
.pt-50 {padding-top: 50px !important;}

.pb-3 {padding-bottom: 3px !important;}
.pb-5 {padding-bottom: 5px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-30 {padding-bottom: 30px !important;}
.pb-35 {padding-bottom: 35px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pb-45 {padding-bottom: 45px !important;}
.pb-50 {padding-bottom: 50px !important;}

.letter-05 {letter-spacing: -0.5px !important;}
.letter-1 {letter-spacing: -1px !important;}
.letter-2 {letter-spacing: -2px !important;}
.letter-3 {letter-spacing: -3px !important;}
.letter-4 {letter-spacing: -4px !important;}
.letter-5 {letter-spacing: -5px !important;}

.w0 {width: 0% !important;}
.w5 {width: 5% !important;}
.w10 {width: 10% !important;}
.w15 {width: 15% !important;}
.w20 {width: 20% !important;}
.w25 {width: 25% !important;}
.w30 {width: 30% !important;}
.w35 {width: 35% !important;}
.w40 {width: 40% !important;}
.w45 {width: 45% !important;}
.w50 {width: 50% !important;}
.w55 {width: 55% !important;}
.w60 {width: 60% !important;}
.w65 {width: 65% !important;}
.w70 {width: 70% !important;}
.w75 {width: 75% !important;}
.w80 {width: 80% !important;}
.w85 {width: 85% !important;}
.w90 {width: 90% !important;}
.w95 {width: 95% !important;}
.w100 {width: 100% !important;}

.main_color {color:#AA20FF !important;}


.cut {
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap; 
    width: 100%;
    display: block;
}

.cut2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.middle_y {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
}

.middle_x {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.text-center {text-align: center;}

body.sLightBox{overflow:hidden !important;}
#d_sLightBox_win{position:fixed;left:0;top:0;width:100%;height:100%;display:none;z-index:999}
#d_sLightBox_win .bg{position:absolute;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.7)/*ie9+*/}
#d_sLightBox_win .inner{position:relative;width:500px;margin:0 auto;top:15%; height: 70%; box-shadow: 30px 30px 70px rgba(0,0,0,0.2);}
#d_sLightBox_win .inner .iframe{width:100%;height:100%;border:0; border-radius: 15px; background-color: #fff;}
#d_sLightBox_win .inner .popup{display:none}
#d_sLightBox_win .inner .close{position:absolute;right:-50px;top:-5px;width:30px;height:30px;cursor:pointer; color:#fff;}

.swiper-container {
    width: 100%;
    height: 100%;
}



.swiper-slide {
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.swiper-slide img {
    width:100%;
}

.swiper-pagination-bullet-active {
    background: #000 !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px !important;
}

/* 2.2.2 { */
.rb-custom-alert-popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    color: #000;
    padding: 25px 25px;
    border-radius: 15px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.05);
    font-size: 15px;
    text-align: center;
    word-break: keep-all;
    line-height: 140%;
    animation: customAlertShow 0.22s cubic-bezier(.68,-0.55,.27,1.55);
    z-index: 12345678905;
}

.rb-custom-alert-popup svg {opacity: 0.2; margin-bottom: 10px;}

.rb-custom-alert-popup-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12345678904;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.2);
}

.rb-custom-alert-popup .rb-alert-btn {
    display:inline-block; padding:12px 25px; font-size:15px;
    color:#25282B; border:none; border-radius:10px; cursor:pointer; background-color: #ced3db !important;
}

.rb-custom-alert-popup .rb-alert-btn.rb-btn-ok {
    background-color: #25282B !important;
    color:#fff !important;
}


@keyframes customAlertShow {
    from { opacity:0; transform: translate(-50%, -46%) scale(0.97);}
    to   { opacity:1; transform: translate(-50%, -50%) scale(1);}
}

@media all and (max-width:512px) {
    .rb-custom-alert-popup {width: 90%;}
}
/* } */