
    .rb_popups {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        z-index: 9999999999;
        top: 0px;
        left: 0px;
        display: none;
    }

    .rb_popups .rb_popups_wrap {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .rb_popups .rb_popups_inner {
        background-color: #000;
        color: #fff;
        width: auto;
        height: auto;
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.4);
        display: none;
        opacity: 0;
    }
    

    .rb_popups .swiper-pagination-fraction,
    .rb_popups .swiper-pagination-custom,
    .rb_popups .swiper-container-horizontal>.swiper-pagination-bullets.rb_popup_caption {
        position: relative !important;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0px;
        gap: 0px;
        background-color: #000;
        border-bottom:1px solid rgba(255,255,255,0.1);
    }

    .rb_popups .rb_popup_caption div {
        flex: 1 1 auto;
        background-color: #222 !important;
        padding: 15px;
        color: #fff;
        font-size: 12px;
        text-align: center;
        border-radius: 0px;
        margin: 0px !important;
        width: auto;
        height: auto;
        word-break: keep-all;
    }
    .rb_popups .rb_popup_caption div.swiper-pagination-bullet {opacity: .5;}
    .rb_popups .rb_popup_caption div.swiper-pagination-bullet-active {opacity: 1;}
    .rb_popups .hd_pops_footer button {padding: 15px;}
    .rb_popups .rb_pops_close {float:right; background-color: #333;}
    
    @media all and (max-width:768px) {
        
        .rb_popups .rb_popups_inner {
            width: 100%;
            max-width: 100%;
            top: auto !important;
            left: 0;
            bottom:0;
            transform:none;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            overflow: hidden;
            box-shadow:none;
        }
        
        .rb_popups .swiper-container-horizontal>.swiper-pagination-bullets.rb_popup_caption {
            position: absolute !important;
            bottom:20px !important;
            display:block;
            border-bottom:0px;
            background-color: transparent;
        }
        .rb_popups .rb_popup_caption div span {display: none;}
        .rb_popups .rb_popup_caption div.swiper-pagination-bullet {opacity: .3;}
        .rb_popups .rb_popup_caption div.swiper-pagination-bullet-active {opacity: 1;}
        .rb_popups .rb_popup_caption div {padding: 0px; border-radius: 50%; width:10px; height:10px; margin: 0px 3px !important;}
    }