.rb_module_border_ .rb-module-wrap {border:0px;}
.rb_module_border_solid .rb-module-wrap {border: 1px solid #ddd;}
.rb_module_border_dashed .rb-module-wrap {border: 1px dashed #ddd;}

.rb_module_border_width_ .rb-module-wrap {border-width: 0px;}
.rb_module_border_width_0 .rb-module-wrap {border-width: 0px;}
.rb_module_border_width_1 .rb-module-wrap {border-width: 1px;}
.rb_module_border_width_2 .rb-module-wrap {border-width: 2px;}
.rb_module_border_width_3 .rb-module-wrap {border-width: 3px;}
.rb_module_border_width_4 .rb-module-wrap {border-width: 4px;}
.rb_module_border_width_5 .rb-module-wrap {border-width: 5px;}
.rb_module_border_width_6 .rb-module-wrap {border-width: 6px;}
.rb_module_border_width_7 .rb-module-wrap {border-width: 7px;}
.rb_module_border_width_8 .rb-module-wrap {border-width: 8px;}
.rb_module_border_width_9 .rb-module-wrap {border-width: 9px;}
.rb_module_border_width_10 .rb-module-wrap {border-width: 10px;}


.rb_module_padding_ .rb-module-wrap {padding: 0px;}
.rb_module_padding_0 .rb-module-wrap {padding: 0px;}
.rb_module_padding_5 .rb-module-wrap {padding: 5px;}
.rb_module_padding_10 .rb-module-wrap {padding: 10px;}
.rb_module_padding_15 .rb-module-wrap {padding: 15px;}
.rb_module_padding_20 .rb-module-wrap {padding: 20px;}
.rb_module_padding_25 .rb-module-wrap {padding: 25px;}
.rb_module_padding_30 .rb-module-wrap {padding: 30px;}


.co_gap_pc_ .content_box {padding: 0px;}
.co_gap_pc_ .flex_box {width: calc(100% + 0px);}
.co_gap_pc_ > .flex_box {transform: translateX(-0px);}
.co_gap_pc_ > #rb_sidemenu .flex_box {transform: translateX(-0px);}
.co_gap_pc_ > #rb_sidemenu_float .flex_box {transform: translateX(-0px);}
.co_gap_pc_ > #rb_sidemenu_shop .flex_box {transform: translateX(-0px);}
.co_gap_pc_ > #rb_sidemenu_float_shop .flex_box {transform: translateX(-0px);}
.co_gap_pc_.rb-layout-row {width: calc(100% + 0px); transform: translateX(-0px);}

.co_gap_pc_0 .content_box {padding: 0px;}
.co_gap_pc_0 .flex_box {width: calc(100% + 0px);}
.co_gap_pc_0 > .flex_box {transform: translateX(-0px);}
.co_gap_pc_0 > #rb_sidemenu .flex_box {transform: translateX(-0px);}
.co_gap_pc_0 > #rb_sidemenu_float .flex_box {transform: translateX(-0px);}
.co_gap_pc_0 > #rb_sidemenu_shop .flex_box {transform: translateX(-0px);}
.co_gap_pc_0 > #rb_sidemenu_float_shop .flex_box {transform: translateX(-0px);}
.co_gap_pc_0.rb-layout-row {width: calc(100% + 0px); transform: translateX(-0px);}

.co_gap_pc_5 .content_box {padding: 5px;}
.co_gap_pc_5 .flex_box {width: calc(100% + 10px);}
.co_gap_pc_5 > .flex_box {transform: translateX(-5px);}
.co_gap_pc_5 > #rb_sidemenu .flex_box {transform: translateX(-5px);}
.co_gap_pc_5 > #rb_sidemenu_float .flex_box {transform: translateX(-5px);}
.co_gap_pc_5 > #rb_sidemenu_shop .flex_box {transform: translateX(-5px);}
.co_gap_pc_5 > #rb_sidemenu_float_shop .flex_box {transform: translateX(-5px);}
.co_gap_pc_5.rb-layout-row {width: calc(100% + 10px); transform: translateX(-5px);}

.co_gap_pc_10 .content_box {padding: 10px;}
.co_gap_pc_10 .flex_box {width: calc(100% + 20px);}
.co_gap_pc_10 > .flex_box {transform: translateX(-10px);}
.co_gap_pc_10 > #rb_sidemenu .flex_box {transform: translateX(-10px);}
.co_gap_pc_10 > #rb_sidemenu_float .flex_box {transform: translateX(-10px);}
.co_gap_pc_10 > #rb_sidemenu_shop .flex_box {transform: translateX(-10px);}
.co_gap_pc_10 > #rb_sidemenu_float_shop .flex_box {transform: translateX(-10px);}
.co_gap_pc_10.rb-layout-row {width: calc(100% + 20px); transform: translateX(-10px);}

.co_gap_pc_15 .content_box {padding: 15px;}
.co_gap_pc_15 .flex_box {width: calc(100% + 30px);}
.co_gap_pc_15 > .flex_box {transform: translateX(-15px);}
.co_gap_pc_15 > #rb_sidemenu .flex_box {transform: translateX(-15px);}
.co_gap_pc_15 > #rb_sidemenu_float .flex_box {transform: translateX(-15px);}
.co_gap_pc_15 > #rb_sidemenu_shop .flex_box {transform: translateX(-15px);}
.co_gap_pc_15 > #rb_sidemenu_float_shop .flex_box {transform: translateX(-15px);}
.co_gap_pc_15.rb-layout-row {width: calc(100% + 30px); transform: translateX(-15px);}

.co_gap_pc_20 .content_box {padding: 20px;}
.co_gap_pc_20 .flex_box {width: calc(100% + 40px);}
.co_gap_pc_20 > .flex_box {transform: translateX(-20px);}
.co_gap_pc_20 > #rb_sidemenu .flex_box {transform: translateX(-20px);}
.co_gap_pc_20 > #rb_sidemenu_float .flex_box {transform: translateX(-20px);}
.co_gap_pc_20 > #rb_sidemenu_shop .flex_box {transform: translateX(-20px);}
.co_gap_pc_20 > #rb_sidemenu_float_shop .flex_box {transform: translateX(-20px);}
.co_gap_pc_20.rb-layout-row {width: calc(100% + 40px); transform: translateX(-20px);}

.co_gap_pc_25 .content_box {padding: 25px;}
.co_gap_pc_25 .flex_box {width: calc(100% + 50px);}
.co_gap_pc_25 > .flex_box {transform: translateX(-25px);}
.co_gap_pc_25 > #rb_sidemenu .flex_box {transform: translateX(-25px);}
.co_gap_pc_25 > #rb_sidemenu_float .flex_box {transform: translateX(-25px);}
.co_gap_pc_25 > #rb_sidemenu_shop .flex_box {transform: translateX(-25px);}
.co_gap_pc_25 > #rb_sidemenu_float_shop .flex_box {transform: translateX(-25px);}
.co_gap_pc_25.rb-layout-row {width: calc(100% + 50px); transform: translateX(-25px);}

.co_gap_pc_30 .content_box {padding: 30px;}
.co_gap_pc_30 .flex_box {width: calc(100% + 60px);}
.co_gap_pc_30 > .flex_box {transform: translateX(-30px);}
.co_gap_pc_30 > #rb_sidemenu .flex_box {transform: translateX(-30px);}
.co_gap_pc_30 > #rb_sidemenu_float .flex_box {transform: translateX(-30px);}
.co_gap_pc_30 > #rb_sidemenu_shop .flex_box {transform: translateX(-30px);}
.co_gap_pc_30 > #rb_sidemenu_float_shop .flex_box {transform: translateX(-30px);}
.co_gap_pc_30.rb-layout-row {width: calc(100% + 60px); transform: translateX(-30px);}


.adm_co_gap_pc_ {padding: 0px;}
.adm_co_gap_pc_0 {padding: 0px;}
.adm_co_gap_pc_5 {padding: 5px;}
.adm_co_gap_pc_10 {padding: 10px;}
.adm_co_gap_pc_15 {padding: 15px;}
.adm_co_gap_pc_20 {padding: 20px;}
.adm_co_gap_pc_25 {padding: 25px;}
.adm_co_gap_pc_30 {padding: 30px;}
/*
section.co_gap_pc_0 {margin-top: 20px;}
section.co_gap_pc_5 {margin-top: 15px;}
section.co_gap_pc_10 {margin-top: 10px;}
section.co_gap_pc_15 {margin-top: 5px;}
section.co_gap_pc_20 {margin-top: 0px;}
section.co_gap_pc_25 {margin-top: -5px;}
section.co_gap_pc_30 {margin-top: -10px;}
*/

#rb_sidemenu .content_box {padding-top: 1px !important;}
#rb_sidemenu_shop .content_box {padding-top: 1px !important;}
#rb_sidemenu_float .content_box {padding-top: 1px !important;}
#rb_sidemenu_float_shop .content_box {padding-top: 1px !important;}

@media all and (max-width:1024px) {

    .flex_box {margin-left: 0px !important; margin-right: 0px !important; margin-bottom: 20px; transform: translateX(0px) !important;}
    .rb_sub_module.flex_box {margin-bottom: 0px;}
    .rb-layout-row {width: 100% !important; transform: translateX(0px) !important;}

    .rb-module-wrap {padding: 0px;}
    
    .rb_module_padding_ .rb-module-wrap {padding: 0px;}
    .rb_module_padding_0 .rb-module-wrap {padding: 0px;}
    .rb_module_padding_5 .rb-module-wrap {padding: 5px;}
    .rb_module_padding_10 .rb-module-wrap {padding: 10px;}
    .rb_module_padding_15 .rb-module-wrap {padding: 15px;}
    .rb_module_padding_20 .rb-module-wrap {padding: 20px;}
    .rb_module_padding_25 .rb-module-wrap {padding: 25px;}
    .rb_module_padding_30 .rb-module-wrap {padding: 30px;}
    
    main.gap_pc_ #header {padding-left: 0px; padding-right: 0px;}
    main.gap_pc_0 #header {padding-left: 0px; padding-right: 0px;}
    main.gap_pc_5 #header {padding-left: 5px; padding-right: 5px;}
    main.gap_pc_10 #header {padding-left: 10px; padding-right: 10px;}
    main.gap_pc_15 #header {padding-left: 15px; padding-right: 15px;}
    main.gap_pc_20 #header {padding-left: 20px; padding-right: 20px;}
    main.gap_pc_25 #header {padding-left: 25px; padding-right: 25px;}
    main.gap_pc_30 #header {padding-left: 30px; padding-right: 30px;}
    
    .sub.co_gap_pc_ {padding-left: 0px; padding-right: 0px;}
    .sub.co_gap_pc_0 {padding-left: 0px; padding-right: 0px;}
    .sub.co_gap_pc_5 {padding-left: 5px; padding-right: 5px;}
    .sub.co_gap_pc_10 {padding-left: 10px; padding-right: 10px;}
    .sub.co_gap_pc_15 {padding-left: 15px; padding-right: 15px;}
    .sub.co_gap_pc_20 {padding-left: 20px; padding-right: 20px;}
    .sub.co_gap_pc_25 {padding-left: 25px; padding-right: 25px;}
    .sub.co_gap_pc_30 {padding-left: 30px; padding-right: 30px;}
    
}

/* ui { */
.module_style_set_wrap {display: flex; gap: 0px 20px;flex-direction: row;flex-wrap: wrap; align-items: center;}
.rb_range_item {
  width: 70%;
  height: 4px;
  border: 0;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: none;
  border:0px !important;
}

.rb_range_item .ui-slider-handle {
  position: absolute;
  margin: -6px 0 0 0px;
  border-radius: 100px;
  color: #fff;
  border: 0;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 34px;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  text-decoration: none;
  transition: transform 0.1s ease;
  color:#fff !important;
}

.rb_range_item .ui-slider-range {
    border:0px !important; border-radius: 4px !important;
}


.rb_range_item .ui-slider-handle:hover,
.rb_range_item .ui-slider-handle:focus {
  transform: scale(1.1);
}

.rb_range_item .cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* } */

.content_box {position: relative;}

.flex_box_inner .no_data_section {display: none !important;}
.flex_box_inner {margin-left: 0px !important; margin-right: 0px !important;}
.flex_box_inner .rb_layout_box .add_module_wrap {display: none !important;}
